{% extends 'base.html' %}

{% block header %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="{{ url_for('index') }}" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="/static/logo.jpg" class="bi" width="50" height="50" role="img" aria-label="Bootstrap"></img>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ url_for('index') }}" class="nav-link px-2 {% if request.endpoint == "index" %} link-secondary {% endif %}">Home</a></li>
        <li><a href="{{ url_for('groups') }}" class="nav-link px-2{% if request.endpoint == "groups" %} link-secondary {% endif %}">Groups</a></li>
        <li><a href="{{ url_for('users') }}" class="nav-link px-2{% if request.endpoint == "users" %} link-secondary {% endif %}">Users</a></li>
        <li><a href="{{ url_for('faq') }}" class="nav-link px-2{% if request.endpoint == "faq" %} link-secondary {% endif %}">FAQs</a></li>
        <li><a href="{{ url_for('about') }}" class="nav-link px-2{% if request.endpoint == "about" %} link-secondary {% endif %}">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        {% if session.get ('user_id') %}
        <a href="{{ url_for('account') }}" class="btn btn-outline-primary me-2">{{session.get('username')}}</a>
        <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}" class="btn btn-outline-primary me-2">Login</a>
        <a href="{{ url_for('signup') }}" class="btn btn-primary">Sign-up</a>
        {% endif %}
      </div>
    </header>
    
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
</div>
{% endblock %}