{% extends 'base.html' %}
{% include 'header.html'%}
{% include 'footer.html'%}
{% block content %}
<div class="container text-center">
    <div class="row" style="align: center;">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/book.jpg" class="card-img-top" alt="public_transit">
            <div class="card-body">
              <h5 class="card-title">Login to become a memner</h5>
              <p class="card-text">Create an account to you will be part of community</p>
              <a href="#" class="btn btn-primary">Sign in!/ up?</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/public_transport.jpg" class="card-img-top" alt="public_transit">
            <div class="card-body">
              <h5 class="card-title">Public Transport Group</h5>
              <p class="card-text">Chat with people about public transit and share your ideas</p>
              <a href="#" class="btn btn-primary">Join and mark</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/board-games.jpg" class="card-img-top" alt="public_transit">
            <div class="card-body">
              <h5 class="card-title">Public Transport Group</h5>
              <p class="card-text">Chat with people about public transit and share your ideas</p>
              <a href="#" class="btn btn-primary">Join and mark</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/furry.jpg" class="card-img-top" alt="public_transit">
            <div class="card-body">
              <h5 class="card-title">Public Transport Group</h5>
              <p class="card-text">Chat with people about public transit and share your ideas</p>
              <a href="#" class="btn btn-primary">Join and mark</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/brony.jpg" class="card-img-top" alt="public_transit">
            <div class="card-body">
              <h5 class="card-title">Public Transport Group</h5>
              <p class="card-text">Chat with people about public transit and share your ideas</p>
              <a href="#" class="btn btn-primary">Join and mark</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/static/music.jpg" class="card-img-top" alt="public_transit">
            <div class="card-body">
              <h5 class="card-title">Public Transport Group</h5>
              <p class="card-text">Chat with people about public transit and share your ideas</p>
              <a href="#" class="btn btn-primary">Join and mark</a>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}