{% extends 'base.html' %}
{% include 'header.html'%}
{% include 'footer.html'%}
{% block content %}
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input type="text" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Create an account!</button>
        </form>
        {% if error %}
        <p class="text-danger">{{ error }}</p>
        {% endif %}
    </div>
{% endblock %}